{% extends "base.html" %}

{% block title %} - Alertas {% endblock %}

{% block content %}
    {% for alerta in alertas %}
        <div class="columns">
            <div class="column">
                <article class="message {% if alerta.feito_aviso == 0 %} is-danger
                        {% else %} is-warning {% endif %}
                         is-rounded">
                    <div class="columns">
                        <div class="column">
                            <div class="message-header">
                                <p>Ausência</p>
                                {% if alerta.feito_aviso == 0 %}
                                    <form action="/alerta/check/{{ alerta.fk_aluno }}/{{ alerta.fk_dia_letivo }}"
                                          method="POST">
                                        <button class="button is-rounded is-info" aria-hidden="true"
                                                title="Marcar como resolvido">
                                            <span class="icon is-small"> <i class="fas fa-check is-small"></i> </span>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="message-body">
                                <div class="columns is-flex is-vcentered">
                                    <div class="column is-four-fifths-desktop">
                                        <p><b>Aluno:</b> {{ alerta.aluno.nome }}</p>
                                        <p><b>Turma:</b> {{ alerta.aluno.turma.turma }}</p>
                                        <p><b>Dia
                                            Letivo:</b> {{ alerta.dia_letivo.dia }}/{{ alerta.dia_letivo.mes }}/{{ alerta.dia_letivo.ano }}
                                        </p>
                                        <p><b>Professor:</b> {{ alerta.usuario.nome }}</p>
                                    </div>
                                    <div class="column is-one-fifth-desktop is-align-content-end">
                                        <form>
                                            <button class="button is-info is-fullwidth is-align-self-flex-end"
                                                    formaction="/responsaveis/{{ alerta.aluno.id }}">
                                                Ver Responsáveis
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    {% endfor %}
{% endblock %}