<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>Controle de Frequencia</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/09a6fa3f09.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="columns is-flex is-vcentered" style="min-height: 100vh">
    <div class="column container is-fullheight is-fullwidth is-align-content-center is-one-third">
        <form method="post" action="/">
            <div class="is-vcentered is-center p-6 card">
                <label class="label" for="username">
                    Usuário:
                    <input class="input" id="username" name="username" required>
                </label>
                <label class="label" for="password">
                    Senha:
                    <input class="input" type="password" id="password" name="password" required>
                </label>
                <button class="button is-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>